@charset "utf-8";

.coupon,
.coupon-s{--coupon-bgc:var(--background-color,#fff);--coupon-color:var(--color,rgba(0 0 0/75%));--coupon-bdc:var(--border-color,rgba(0 0 0/10%));}
.coupon.unavailable,
.coupon-s.unavailable{--coupon-color:var(--color,rgba(0 0 0/50%));--color-alpha:.75;}


/* standard coupon */
.coupon{display:flex;flex-direction:column;gap:var(--coupon-spacing,1.5em);padding:var(--coupon-spacing,1.5em);border-radius:var(--coupon-border-radius,1em);color:var(--coupon-color);background-color:var(--coupon-bgc);background-image:var(--bgim,url()),linear-gradient(calc(var(--angle,135deg) * var(--angle-reverse,1)),hsl(calc(var(--h) + var(--h1,0)) calc(var(--s) + var(--s1,0%)) calc(var(--l) + var(--l1,0%))),hsl(calc(var(--h) + var(--h2,0)) calc(var(--s) + var(--s2,10%)) calc(var(--l) + var(--l2,15%))));box-shadow:var(--coupon-bdc) 0 0 0 1px inset;box-sizing:border-box;overflow:hidden;}

.coupon .title{display:grid;grid-template-columns:1fr auto;gap:var(--coupon-spacing,1.5em);align-items:center;min-height:2em;}
.coupon .value{display:flex;align-items:start;gap:.5em;white-space:nowrap;}
.coupon .num{display:block;font-size:var(--coupon-font-size,2em);font-weight:var(--SiteFW-EB);line-height:1;}
.coupon .unit{display:block;text-transform:uppercase;font-size:max(calc(var(--coupon-font-size,2em) / 2),12px);font-weight:var(--SiteFW-B);}
.coupon .unit.credits{display:block;width:1em;height:1em;font-size:var(--coupon-font-size,2em);overflow:hidden;align-self:center;background:url('../images/seagm_credits_icon-1f72b06ec9.svg') no-repeat center/contain;color:transparent;border-radius:100%;}
.coupon .stat{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.coupon .stat .claimed{opacity:.7;text-transform:uppercase;}
.coupon .stat .expired{opacity:.7;text-transform:uppercase;}
.coupon .stat .stockout{}
.coupon .stat .btw{--CPT-US:var(--coupon-font-size,2em);--padding-inline:calc(var(--coupon-font-size,2em) / 2.5);--background-color:var(--coupon-color);--color:var(--coupon-bgc);--font-weight:var(--CPT-FW-EB);text-transform:uppercase;}

.coupon .func{display:flex;flex-direction:column;gap:.25em;}
.coupon .func>*{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.coupon .func .name{font-weight:var(--SiteFW-B);}
.coupon .func .limit,
.coupon .func .expiry{font-size:var(--SiteFS-S);}


/* mini coupon */
.coupon-s{display:flex;align-items:center;height:calc(var(--coupon-font-size,1em) * 2.5);padding-inline:var(--coupon-spacing,var(--coupon-font-size,1em));border-radius:calc(var(--coupon-font-size,1em) / 3);color:var(--coupon-color);background-color:var(--coupon-bgc);background-image:var(--bgim,url()),linear-gradient(calc(var(--angle,135deg) * var(--angle-reverse,1)),hsl(calc(var(--h) + var(--h1,0)) calc(var(--s) + var(--s1,0%)) calc(var(--l) + var(--l1,0%))),hsl(calc(var(--h) + var(--h2,0)) calc(var(--s) + var(--s2,10%)) calc(var(--l) + var(--l2,15%))));box-shadow:var(--coupon-bdc,var(--coupon-bdc-default)) 0 0 0 1px inset;}
.coupon-s .value{font-size:var(--coupon-font-size,1em);line-height:1;display:flex;align-items:center;gap:.5em;}
.coupon-s .value .num{font-weight:var(--SiteFW-EB);}
.coupon-s .value .unit{text-transform:uppercase;align-self:start;}
.coupon-s .value .unit.credits{display:block;width:1em;height:1em;font-size:1em;overflow:hidden;color:transparent;background:url('../images/seagm_credits_icon-1f72b06ec9.svg') no-repeat center/contain;}


/* theme */
.star_reward:is(.coupon,.coupon-s){--coupon-color:white;--coupon-bgc:darkgoldenrod;--h:43;--s:89%;--l:38%;--bgim:url('../images/art/star_coupon_bg-da1e7e6332.svg');background-position:center;background-size:auto 150%,auto;background-repeat:no-repeat;}
.seagm_coupon:is(.coupon,.coupon-s){--coupon-color:gold;--coupon-bgc:black;--h:0;--s:0%;--l:10%;--bgim:url('../images/art/seagm_coupon_bg.html');background-position:center;background-size:133%,auto;background-repeat:no-repeat;box-shadow:hsl(51 100% 50%/25%) 0 0 0 2px inset;}
.seagm_coupon:is(.coupon,.coupon-s) .func{color:white;}
 




/* coupon list */
.coupon_list{display:grid;grid-template-columns:repeat(auto-fill,minmax(20em,1fr));gap:var(--spacing);--coupon-border-radius:.5em;}
.coupon_list .item{display:flex;flex-direction:column;gap:.75em 1em;}
.coupon_list .item:has(.cpt-checkbox){display:grid;grid-template-columns:auto 1fr;align-items:start;align-content:start;}
.coupon_list .item .cpt-checkbox~*{grid-column:2/-1;}
@media only screen and (min-width:801px){
	#coupon_drawer:has(.coupon_list .item:nth-child(6)){--coupon-drawer-width:55em;}
}

.coupon_expiry{font-size:var(--SiteFS-S);color:var(--body-text-color-a50,rgba(0 0 0/50%));}
.coupon_expiry[icon]{display:grid;grid-template-columns:auto 1fr;align-items:center;gap:1em;}
.coupon_expiry[icon]::before{content:attr(icon);display:block;font-size:1.5em;align-self:start;}
.coupon_expiry>span{display:block;}
.coupon_expiry.alert{color:var(--text-color-alert);}

.coupon_usage{display:grid;grid:"bar percentage"/1fr auto;align-items:center;gap:1em;font-size:var(--SiteFS-S);color:var(--body-text-color-a50,rgba(0 0 0/50%));}
.coupon_usage[icon]{grid:"icon bar percentage"/auto 1fr auto;}
.coupon_usage[icon]::before{grid-area:icon;content:attr(icon);display:block;font-size:1.5em;}
.coupon_usage .percentage{grid-area:percentage;}
.coupon_usage .bar{grid-area:bar;--size:3px;height:var(--size);border-radius:var(--size);background-color:var(--body-text-color-a10,rgba(0 0 0/10%));}
.coupon_usage .bar::before{content:'';display:block;width:0;min-width:var(--size);max-width:100%;height:inherit;border-radius:inherit;background-color:var(--body-text-color-a0,#fff);background-image:linear-gradient(to var(--inline-end,right),var(--SiteTHM-A25),var(--SiteTHM));background-size:calc(100% / var(--percentage,calc(min(var(--usage),var(--capacity)) / var(--capacity) * 100%)) * 100%);animation:coupon_usage_bar ease 3s 300ms forwards;}
@keyframes coupon_usage_bar{100%{width:var(--percentage,calc(min(var(--usage),var(--capacity)) / var(--capacity) * 100%));}}


/*coupon popup*/
body:has(#coupon_drawer.show){overflow:hidden;}
#coupon_drawer:not(.show){display:none;}
#coupon_drawer.show{opacity:1;transition:opacity 300ms;transition-behavior:allow-discrete;}
#coupon_drawer.show>.inner{transform:translateX(0);transition:transform 300ms;transition-behavior:allow-discrete;}
@starting-style{
	#coupon_drawer.show{opacity:0;}
	#coupon_drawer.show>.inner{transform:translateX(calc(var(--translate-reverse,1) * 5em));}
}
#coupon_drawer{position:fixed;inset:0;z-index:9999;background-color:var(--background-color-mask-a50,rgba(255 255 255/75%));}
#coupon_drawer>.coupon_popup_ctrl_off{position:absolute;inset:0;z-index:-1;}
#coupon_drawer>.inner{background-color:var(--background-color-L1,#fff);box-shadow:rgba(0 0 0/10%) 0 0 2em;width:min(var(--coupon-drawer-width,30em),calc(var(--VWidth) - 5em));height:100%;box-sizing:border-box;display:grid;grid:"title" auto "content" 1fr;overflow:hidden;margin-inline-start:auto;}

#coupon_drawer>.inner>.title{grid-area:title;display:grid;grid-template-columns:1fr auto;gap:1em;align-items:center;padding:1em var(--spacing);}
#coupon_drawer>.inner>.content{grid-area:content;overflow:hidden;overflow-y:auto;}

#coupon_drawer>.inner>.title h3{font-size:1em;font-weight:var(--SiteFW-EB);}
#coupon_drawer>.inner>.title .btw{margin-inline-end:calc(var(--spacing) / -2);}

#coupon_drawer .coupon_tab{grid-column:1/-1;display:flex;padding-inline:1px;padding-block-start:1px;box-shadow:var(--body-text-color-a10,rgba(0 0 0/10%)) 0 -1px 0 inset;overflow:hidden;margin-block-end:-1em;}
#coupon_drawer .coupon_tab .tab{display:flex;align-items:center;gap:1px;justify-content:center;text-align:center;min-width:var(--CPT-US);height:calc(var(--CPT-US) - 1px);padding-inline:var(--spacing);border-start-start-radius:var(--CPT-BDR);border-start-end-radius:var(--CPT-BDR);color:inherit;cursor:pointer;overflow:hidden;position:relative;transition:box-shadow 300ms;}
#coupon_drawer .coupon_tab .tab::before{content:'';display:block;position:absolute;inset-inline:var(--spacing);inset-block-end:0;z-index:1;height:.25em;background-color:var(--SiteTHM);opacity:0;transition:opacity 300ms;}
#coupon_drawer .coupon_tab .tab.on{box-shadow:var(--body-text-color-a10,rgba(0 0 0/10%)) 0 0 0 1px;background-color:var(--background-color-L1,#fff);}
#coupon_drawer .coupon_tab .tab.on::before{opacity:1;}
#coupon_drawer .coupon_tab .tab[data-counter]:not([data-counter=""],[data-counter="0"]){display:grid;grid-template-columns:1fr auto;align-items:center;gap:.5em;}
#coupon_drawer .coupon_tab .tab[data-counter]:not([data-counter=""],[data-counter="0"])::after{content:attr(data-counter);font-size:var(--SiteFS-S);color:var(--body-text-color-a50,rgba(0 0 0/50%));white-space:nowrap;}
#coupon_drawer .coupon_tab .tab>span{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

#coupon_drawer .coupon_list_wrap{display:flex;flex-direction:column;gap:var(--spacing);padding:var(--spacing);}
#coupon_drawer .coupon_list_wrap:not(.show){display:none;}
#coupon_drawer .coupon_list_wrap .tips{display:grid;grid-template-columns:auto 1fr;align-items:center;gap:1em;}
#coupon_drawer .coupon_list_wrap .tips::before{content:attr(icon);font-size:1.5em;align-self:start;}



