@charset "UTF-8";

:root{
	--CPT-THM-R: 26;
	--CPT-THM-G: 178;
	--CPT-THM-B: 255;
	--CPT-THM-H: 200;
	--CPT-THM-S: 100%;
	--CPT-THM-L: 55%;

	--body-background-color: hsl(var(--CPT-THM-H,0) calc(var(--CPT-THM-S,100%) / 10) 10%);
	--background-color-L0: hsl(var(--CPT-THM-H,0) calc(var(--CPT-THM-S,100%) / 10) 24%);
	--background-color-L1: hsl(var(--CPT-THM-H,0) calc(var(--CPT-THM-S,100%) / 10) 21%);
	--background-color-L2: hsl(var(--CPT-THM-H,0) calc(var(--CPT-THM-S,100%) / 10) 18%);
	--background-color-L3: hsl(var(--CPT-THM-H,0) calc(var(--CPT-THM-S,100%) / 10) 15%);
	--background-color-L4: hsl(var(--CPT-THM-H,0) calc(var(--CPT-THM-S,100%) / 10) 12%);

	--background-color-mask-a75: hsl(var(--CPT-THM-H,0) calc(var(--CPT-THM-S,100%) / 10) 5%/75%);
	--background-color-mask-a50: hsl(var(--CPT-THM-H,0) calc(var(--CPT-THM-S,100%) / 10) 5%/50%);
	--background-color-mask-a25: hsl(var(--CPT-THM-H,0) calc(var(--CPT-THM-S,100%) / 10) 5%/25%);

	--body-text-color: rgba(255 255 255/100%);
	--body-text-color-a0: rgba(255 255 255/0);
	--body-text-color-a5: rgba(255 255 255/5%);
	--body-text-color-a10: rgba(255 255 255/10%);
	--body-text-color-a25: rgba(255 255 255/25%);
	--body-text-color-a50: rgba(255 255 255/50%);
	--body-text-color-a75: rgba(255 255 255/75%);

	--color-warning-r: 238;
	--color-warning-g: 130;
	--color-warning-b: 238;
	--color-warning-h: 300;
	--color-warning-s: 76.06%;
	--color-warning-l: 72.16%;

	--color-alert-r: 255;
	--color-alert-g: 69;
	--color-alert-b: 0;
	--color-alert-h: 16.24;
	--color-alert-s: 100%;
	--color-alert-l: 50%;

	--color-complete-r: 154;
	--color-complete-g: 205;
	--color-complete-b: 50;
	--color-complete-h: 79.74;
	--color-complete-s: 60.78%;
	--color-complete-l: 50%;

	--color-promotion-r: 154;
	--color-promotion-g: 205;
	--color-promotion-b: 50;
	--color-promotion-h: 79.74;
	--color-promotion-s: 60.78%;
	--color-promotion-l: 50%;

	--CPT-BDC: rgba(255 255 255/10%);

	--CPT-COLOR: rgba(255 255 255/100%);
	--CPT-COLOR-A5: rgba(255 255 255/5%);
	--CPT-COLOR-A10: rgba(255 255 255/10%);
	--CPT-COLOR-A25: rgba(255 255 255/25%);
	--CPT-COLOR-A50: rgba(255 255 255/50%);
	--CPT-COLOR-A75: rgba(255 255 255/75%);

	--CPT-BGC: rgba(255 255 255/10%);

	--brightness-filter: 1;
	color-scheme: dark;
}

[color],.btw[color]{
	--border-alpha:clamp(0%,calc((var(--lightness) - var(--threshold)) * -999999999%),10%);
}

[class*="cpt-"]>input[type="search"]::-webkit-search-cancel-button{
	--search-cancel-button-background-position-y: 1;
}
.cpt-select{
	--select-arrow-background-position-y: -1;
}
.cpt-checkbox>input[type="checkbox"]:disabled+span {
	--checkbox-background-position-x: -1;
	--checkbox-background-position-y: 0;
	--checkbox-background-color: var(--CPT-COLOR-A25);
}
.cpt-checkbox>input[type="checkbox"]:checked:disabled+span {
	--checkbox-background-position-x: 0;
	--checkbox-background-position-y: 0;
}
.cpt-radio>input[type="radio"]:disabled+span {
	--radio-background-position-x: -1;
	--radio-background-position-y: 0;
	--radio-background-color: var(--CPT-COLOR-A25);
}
.cpt-radio>input[type="radio"]:checked:disabled+span {
	--radio-background-position-x: 0;
	--radio-background-position-y: 0;
}

[data-hue] {
	--d-r: 0;
	--d-g: 0;
	--d-b: 0;
	--d-h: 0;
	--d-s: 0%;
	--d-l: 0%;
}

.IconPic.lazyloading,
.IconPic[src*="iconpic"],
.GamePic.lazyloading,
.GamePic[src*="gamepic"],
.CardPic.lazyloading,
.CardPic[src*="cardpic"],
.MaterialPic.lazyloading,
.MaterialPic[src*="materialpic"],
.NewsPic.lazyloading,
.NewsPic[src*="newspic"],
.StarPic.lazyloading,
.StarPic[src*="starpic"]{filter:invert(1);}

.SliderPic:is(.lazyload,.lazyloading),
.ArtPic:is(.lazyload,.lazyloading){filter:invert(1);}


[review-star]::before{background-position-y:-2em;}
[review-star]::after{background-position-y:-3em;}

.cart_table .check input:disabled+.SKU_checkbox::before,
#SKU_list input:disabled+.SKU_type::before{--y:bottom}


